<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213611714815-e85omtgtgtgrpimomvksvvcke3kt3k9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213611714815-e85omtgtgtgrpimomvksvvcke3kt3k9r</string>
	<key>API_KEY</key>
	<string>AIzaSyCtOfNEH7FJ0TzE-pw9ztck9Fd6c4J2a44</string>
	<key>GCM_SENDER_ID</key>
	<string>213611714815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edoaurahman.chatClient</string>
	<key>PROJECT_ID</key>
	<string>chatme-d4b25</string>
	<key>STORAGE_BUCKET</key>
	<string>chatme-d4b25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213611714815:ios:9c200a1f3706c66a5854ca</string>
</dict>
</plist>